<web-app>
<servlet>
<servlet-name>S</servlet-name>
<servlet-class>App</servlet-class>
</servlet>
<sevlet-mapping>
<servlet-name>S</servlet-name>
<url-pattern>/Form.html</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>H</servlet-name>
<servlet-class>List</servlet-class>
</servlet>
<sevlet-mapping>
<servlet-name>H</servlet-name>
<url-pattern>/Home.html</url-pattern>
</servlet-mapping>
</web-app>